@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height: 100%;
    background: #F7F7F7;
}

/*
 * The code below will be generated dynamically server side and then will be placed inside the javascript file
 * served to the user. 
 *
 * We will also have to call on fontawesome until we can package icons with the js or dyanmically generate them
 * */
#sd-56ab97d0bf5da5426894e110 {
    position: relative;
    height: 600px;
    width: 500px;
    
    box-shadow: 0px 0px 2px #888888;
    -webkit-box-shadow: 0px 0px 2px #888888;
    -moz-box-shadow: 0px 0px 2px #888888;
}

#sd-56ab97d0bf5da5426894e110:hover {
    box-shadow: 0px 0px 15px #888888;
    -webkit-box-shadow: 0px 0px 15px #888888;
    -moz-box-shadow: 0px 0px 15px #888888;
}

#main-inner-image {
    position: relative;
    width: 100%;
}

#main-inner-header {
    font-family: 'Open Sans', sans-serif;
}

#main-inner-footer {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin-top: 15px;
}

#main-inner-footer-bottom {
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    right: 15px;
}

#desc-p {
    margin-left: 10px;
    font-size: 14px;
}

#header-title {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: bold;
    font-size: 20px;
}

#sel-inner-ul li {
    display: inline-block;
    font-size: 20px;
}

#sel-inner-ul li:first-child {
    margin-right: 15px;
}
