#sell0783 {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    border: 1px solid black;
    width: 100%;
    height: 150px;


}

#sell0783-inner-div {
    width: 33%;
    height: 100%;
    border: 1px solid blue;
}


@media screen and (max-width: 480px) {

    #sell0783 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

}
