<!doctype html>
<html>
    <head>
        <title> Sellento Embed </title>
    </head>

    <body>

        <div id="56ab97d0bf5da5426894e110">
            <div id="main-inner" onclick="call_home()">
                <div id="main-inner-header">
                    <h2 id="header-title"> 50 STARTUPS COUNCIL / 20th May </h2>
                </div>

                <div id="main-inner-image">
                    <img  src="https://i.ytimg.com/vi/qqmmThjDBvU/hqdefault.jpg">
                </div>

                <div id="main-inner-footer">
                    <p id="desc-p"> Great description goes here! </p>
                </div>
        </div>

    </body>

</html>
