<!doctype html>
<html>
    <head>
        <title> Sellento Embed </title>
        <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>

    <body>
        <div id="sd-56ab97d0bf5da5426894e110">
            <div id="main-inner">
                <div id="main-inner-header">
                    <h2 id="header-title"> 50 STARTUPS COUNCIL / 20th May </h2>
                </div>

                <div id="main-inner-image">
                    <img width=100% src="https://i.ytimg.com/vi/qqmmThjDBvU/hqdefault.jpg"/>
                </div>

                <div id="main-inner-footer">
                    <p id="desc-p"> Great description goes here! </p>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-share-alt"></i>
                </div>
            </div>
        </div>
    </body>

</html>
